</main>
<footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    


    <div class="container footer-container">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>

  <div class="social-links">
<a href="https://www.facebook.com/giorgia.corsetti1"><ion-icon name="logo-facebook"></ion-icon></a>
<a href="https://github.com/GiorgiaCorsetti"><ion-icon name="logo-github"></ion-icon></a>
<a href="https://www.linkedin.com/in/giorgia-corsetti-45453617a/"><ion-icon name="logo-linkedin"></ion-icon></a>


</div>

  <nav class="footer-nav">

<a href="/">Home</a>
<a href="/compose">Compose</a>
<a href="/about">About me</a>
<a href="/contact">Contact</a>

  </nav>
<div class="footer-bottom-text">
  <p class="copyright"> Made with ❤️ from Giorgia Corsetti. <%= new Date().getFullYear() %> </p>

</div>
</div>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://kit.fontawesome.com/1116c086c2.js" crossorigin="anonymous"></script>
</body>

</html>