<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/other.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
</head>
<body>
    <%- include('partials/header') %>
    <div class="page-container" id="contact-right-container">
        <div class="content-left">
            <h1>Contact</h1>
            <p>Looking to reach out? Whether you want to discuss the finer points of llama grooming, 
                debate the best flavor of ice cream (spoiler alert: it's definitely cookie dough), or 
                simply swap puns until the cows come home, I'm all ears! <u>Drop me a message</u>
                and let's get this party started. Just don't forget to bring your sense of humor - 
                it's kind of a prerequisite around here!</p>

                <a href="mailto:giorgiacorsetti97@gmail.com?subject=Message%20from%20Giorgia's%20Blog%20Website" class="btn email-btn">Send Me a Message</a>
        </div>

        <div class="content-right">
            <img src="/images/contact.gif" class="contact-gif" alt="contact-gif">
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>